<nav class="navParking">
    <div class="side-navbar">
      <div style="padding-bottom: 10px;  text-align: center"><a class="brand-logo">Parqueaderos</a></div>
      <a>
          <i class="fa fa-bars fa-2x" style="margin-left: 10px;"></i>
      </a>
    </div>
</nav>

<div class=" col s12 m12 carousel-item" href="1" style="text-align: justify;" *ngFor="let parking of parkings">
  <div class="card z-depth-2 ">
    <div class="card-content black-text">
        <div class="container" style="text-align: center">
              <b>Parqueadero</b>
              <h2>{{parking.parkingNumber}}</h2>
              <div *ngIf="!parking.parkingState">
                  <i class="fa fa-user"></i> {{parking.userInParking.userName}}
              </div> 
              <div *ngIf="!parking.parkingState">
                  <i class="fa fa-car"></i> {{pakingSelect.userVehicle}}
              </div>
              <div class="col s12">
                  <button *ngIf="!getParking"  class="waves-effect waves-light btn-large" style="width: 99%"  (click)="tomarParqueadero(parking)">
                    <i class="fa fa-check"></i>
                  </button>
                  
                  <button *ngIf="validarBotonDesocupar(parking)"  class="waves-effect waves-light btn-large red" style="width: 99%" (click)="desocuparParqueadero(parking)">
                    <i class="fa fa-times"></i>
                  </button>

                  <button *ngIf="validarBotonMensaje(parking)" class="waves-effect waves-light btn-large green" style="width: 99%">
                    <i class="fa fa-envelope"></i>
                  </button>
              </div>
              
        </div>
    </div>
  </div>
</div>

<app-vehiculo-seleccionado-modal [vehiculos]="vehiculos" (vehiculeSeleted)="guardarParqueaderoTomado($event)"></app-vehiculo-seleccionado-modal>





