<nav class="navParking">
    <div class="side-navbar">
      <div style="padding-bottom: 10px;  text-align: center"><a class="brand-logo">Parqueaderos</a></div>
      <a class="button-collapse" [routerLink]="['']">

          <i class="fa fa-arrow-left fa-2x" style="margin-left: 10px;"></i>
      </a>
    </div>
</nav>

<div class="container">
<div class="card z-depth-2">
  <div class="card-content black-text">
      <div class="container">
            <div class="col s12">
              <label><b>Nombre</b></label>
                <input id="nombre" name="nombre" type="text" style="text-align: center" [(ngModel)]="user.userName">
            </div>
            <div class="col s12">
              <label><b># Celular</b></label>
                <input id="celular" name="celualar" type="text" style="text-align: center" [(ngModel)]="user.userPhone">
            </div>
            <div class="col s12">
              <label><b>Email</b></label>
                <input id="correo" name="correo" type="text" style="text-align: center" [(ngModel)]="user.userEmail" readonly>
            </div>
            <div class="col s12">
              <label><b>Contraseña</b></label>
                <input id="password" name="password" type="password" style="text-align: center" [(ngModel)]="user.userPassword">
            </div>
            
          <div class="col s12">
              <a class="waves-effect waves-light btn-large" style="width: 99%" ><i class="fa fa-pencil"></i> Actualizar</a>
          </div>
          <br/>
          <div class="col s12">
              <a class="waves-effect waves-light btn-large red" style="width: 99%" (click)="cerrarSesion()"><i class="fa fa-times"></i> Cerrar Sesion</a>
          </div>
          
      </div>
  </div>
</div>
</div>
